:root {
    --fundo: #020617;
    --card: #1e293b;
    --azul: #3b82f6;
    --texto: #f8fafc;
    --amarelo: #eab308;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--fundo);
    font-family: 'Inter', system-ui, sans-serif;
    color: var(--texto);
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.totem-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Header */
.header-totem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: var(--card);
    border-radius: 15px;
    margin-bottom: 10px;
}

.status-badge {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.aguardando { background: #334155; color: #94a3b8; }
.identificando { background: var(--amarelo); color: #000; border: 2px solid #fff; }
.sucesso { background: #16a34a; color: #fff; }

/* Câmera Máxima */
.viewport-camera {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

#containerVideo {
    width: 95%;
    height: 95%;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    border: 6px solid #334155;
    background: #000;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a câmera preencher o espaço */
    transform: scaleX(-1);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
}

/* Botões para TouchScreen */
.botoes-grade {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.btn-opcao {
    flex: 1;
    height: 120px; /* Bem grande para o dedo */
    border: none;
    border-radius: 20px;
    background: var(--azul);
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 8px 0 #1d4ed8;
    transition: 0.1s;
}

.btn-opcao:active {
    transform: translateY(4px);
    box-shadow: 0 4px 0 #1d4ed8;
}

.btn-opcao.ativo {
    background: #fff;
    color: var(--azul);
    border: 4px solid var(--azul);
}
